<div class="animated fadeIn">
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>{{'register' | translate}}</strong>&nbsp;{{'candidate' | translate}}
          </div>
          <form class="form-horizontal" #candidateForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="c_name">{{'test_id' | translate}}</label>
              <div class="col-md-9">               
                <p class="form-control-static">{{candidate.exam_config_id}}</p>
              </div>
            </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="c_name">{{'candidate_name' | translate}}</label>
                <div class="col-md-9">
                  <input type="text" id="c_name" name="c_name" class="form-control" placeholder="{{'candidate_name' | translate}}" [(ngModel)]="candidate.c_name" #c_name="ngModel" required minlength="2">
                  <span class="help-block">{{'candidate_name' | translate}}</span>
                  <div *ngIf="c_name.invalid && (c_name.dirty || c_name.touched)" class="text-danger">
                    <div *ngIf="c_name.errors.required">{{'required' | translate}}</div>
                    <div *ngIf="c_name.errors.minlength">{{'val_2_char' | translate}}</div>  
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email">{{'email' | translate}}</label>
                <div class="col-md-9">
                  <input type="email" id="email" name="email" class="form-control" placeholder="{{'email' | translate}}" [(ngModel)]="candidate.email"  #email="ngModel" email required>
                  <span class="help-block">{{'email' | translate}}</span>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                    <div *ngIf="email.errors.required">{{'required' | translate}}</div>
                    <div *ngIf="email.errors.email">{{'val_email' | translate}}</div>
                  </div>
                </div>
              </div>
          </div>
          <div class="card-footer">
            <button [disabled]="candidateForm.invalid" type="button" (click)="onSubmit()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> 
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{'submit' | translate}}
            </button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{'reset' | translate}}</button>
          </div>
        </form>
        </div>
 
    </div><!--/.row-->
    
  </div>
  