<div class="animated fadeIn">
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Basic Form</strong> Elements
          </div>
          <form class="form-horizontal" >
          <div class="card-body">
            
              <div class="form-group row" *ngIf ="!isCreate">
                <label class="col-md-3 col-form-label">Exam ID</label>
                <div class="col-md-9">
                  <p class="form-control-static">{{exam_config.id}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="exam_name">Examination Name</label>
                <div class="col-md-9">
                  <input type="text" id="exam_name" name="exam_name" class="form-control" placeholder="Text" [(ngModel)]="exam_config.exam_name">
                  <span class="help-block">Provide Examination Name</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="exam_title">Examination Title</label>
                <div class="col-md-9">
                  <input type="text" id="exam_title" name="exam_title" class="form-control" placeholder="Text" [(ngModel)]="exam_config.exam_title">
                  <span class="help-block">Provide Institution name</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="duration_minute">Examination Duration</label>
                <div class="col-md-9">
                  <input type="number" id="duration_minute" name="duration_minute" class="form-control" placeholder="Provide In minutes" [(ngModel)]="exam_config.duration_minute">
                  <span class="help-block">Duration in minutes</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="total_question">Total Questions</label>
                <div class="col-md-9">
                  <input type="number" id="total_question" name="duration_minute" class="form-control" placeholder="Total number of Questions" [(ngModel)]="exam_config.total_question">
                  <span class="help-block">Total number of Questions</span>
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="question_per_page">Questions per page</label>
                <div class="col-md-9">
                  <select id="question_per_page" name="question_per_page" class="form-control" [(ngModel)]="exam_config.question_per_page">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="sDate">Start Date Time</label>
                <div class="col-md-9">
                  <input [formControl]="start_time"
                         [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
                  <owl-date-time #dtPicker1></owl-date-time>

                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="eDate">End Date Time</label>
                <div class="col-md-9">
                  <input [formControl]="end_time"
                         [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
                  <owl-date-time #dtPicker2></owl-date-time>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="time_zone">Select timezone</label>
                <div class="col-md-9">
                  <select id="time_zone" name="time_zone" class="form-control" [(ngModel)]="exam_config.time_zone">
                    <option [value]="time_zone" *ngFor="let time_zone of timezones"> {{time_zone}}</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select2">Random question</label>
                <div class="col-md-9">
                  <select id="random_question" name="random_question" class="form-control" [(ngModel)]="exam_config.random_question">
                    <option value="1" selected>Yes</option>
                    <option value="2">No</option>
                  </select>
                </div>
              </div>
            
          </div>
          <div class="card-footer">
            <button *ngIf ="isCreate" type="button" (click)="onSubmit()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button *ngIf ="!isCreate" type="button" (click)="onUpdate()" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Update</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </form>
        </div>
 
    </div><!--/.row-->
    
  </div>
  