<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            {{'site_name' | translate}}
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">{{'term_condition' | translate}}</label>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">{{'test_name' | translate}} : </label>
              <div class="col-md-9"> {{exam_config.exam_name}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">{{'test_title' | translate}} : </label>
              <div class="col-md-9"> {{exam_config.exam_title}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">{{'duration_minute' | translate}} : </label>
              <div class="col-md-9"> {{exam_config.duration_minute}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">{{'total_question' | translate}} : </label>
              <div class="col-md-9"> {{exam_config.total_question}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">{{'note_subjective' | translate}} : </label>
              <div class="col-md-9">
                {{'image_upload_hint1' | translate}}<a target='_blank' href='https://imgbb.com'>https://imgbb.com</a>
                {{'image_upload_hint2' | translate}}
                {{'image_upload_hint3' | translate}}<a target='_blank' href='https://youtu.be/srdYUSjbBGs'>{{'image_upload_hint4' | translate}}</a>
              </div>
            </div>
          </div>
          
        </div>
      </div><!--/.col-->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            {{'TermsConditions' | translate}}
          </div>
          <div class="card-body">
            <button [disabled]="counter > 0" (click)="onSubmit()" class="btn btn-primary px-4">
                {{'start_now' | translate}}
            </button>
            <strong *ngIf="counter > 0" >{{'start_in' | translate}}: {{counter | formatTime}} </strong> 
          </div>
        </div>
      </div><!--/.col-->
    
    </div><!--/.row-->
  </div>
  