<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            {{'welcome_header' | translate}}
          </div>
          <div class="card-body">
            <strong>
              <ul class="list-group">
                <li class="list-group-item">{{'welcome_header_detail1' | translate}}</li>
                <li class="list-group-item">{{'welcome_header_detail2' | translate}}</li>
              </ul>
            </strong>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">                       
            <strong>{{'donate_header' | translate}}</strong>
          </div>
          <div class="card-body">
            <strong>
              <ul class="list-group">
                <li class="list-group-item">{{'donate_detail1' | translate}}</li>
                <li class="list-group-item">
                  <button type="button" (click)="donateNow()" class="btn btn-lg btn-danger">{{'donate_now' | translate}}</button>
                </li>
              </ul>
            </strong>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            {{'key_features' | translate}}
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">{{'key1' | translate}}</li>
              <li class="list-group-item">{{'key2' | translate}}</li>
              <li class="list-group-item">{{'key3' | translate}}</li>
              <li class="list-group-item">{{'key4' | translate}}</li>  
              <li class="list-group-item">{{'key5' | translate}}</li>      
              <li class="list-group-item">{{'key6' | translate}}</li>
              <li class="list-group-item">{{'key7' | translate}}</li>             
              <li class="list-group-item">{{'key8' | translate}}</li>
            </ul>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            {{'easy_use' | translate}}
          </div>
          <div class="card-body">
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="url"  allowfullscreen></iframe>
          </div>
          </div>
        </div>
      </div><!--/.col-->
  
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            {{'how_use' | translate}}
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">{{'how_use_step1' | translate}}</li>
              <li class="list-group-item">{{'how_use_step2' | translate}}</li>
              <li class="list-group-item">{{'how_use_step3' | translate}}</li>
              <li class="list-group-item">{{'how_use_step4' | translate}}</li>
              <li class="list-group-item">{{'how_use_step5' | translate}}</li>  
              <li class="list-group-item">{{'how_use_step6' | translate}}</li>      
            </ul>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            {{'free_api' | translate}}
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">{{'api_detail1' | translate}}</li>
              <li class="list-group-item">{{'api_detail2' | translate}}</li>
              <li class="list-group-item">{{'api_detail3' | translate}}</li>
              <li class="list-group-item">{{'api_detail4' | translate}}</li>
              <li class="list-group-item">{{'api_detail5' | translate}}</li>    
            </ul>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
  