<div class="animated fadeIn">
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Question</strong>
          </div>
          <form #questionForm="ngForm">
          <div class="card-body">
             <div class="form-group row" *ngIf="!isCreate">
                <label class="col-md-3 col-form-label">Question ID</label>
                <div class="col-md-9"> {{exam_question.id}}
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="question_type">Question type</label>
                <div class="col-md-9">
                  <select id="question_type" name="question_type" class="form-control" [(ngModel)]="exam_question.question_type">
                    <option value="1">Only One answer correct</option>
                    <option value="2">Multiple answer can be correct</option>
                    <option value="3">Subjective</option>
                  </select>
                </div>
              </div>
              <div class="form-group row" *ngIf="exam_question.question_type!=3">
                <label class="col-md-3 col-form-label" for="total_question">Total Number of Question</label>
                <div class="col-md-9">
                  <select id="total_question" name="total_question" class="form-control" [(ngModel)]="total_question">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="question">Question</label>
                <div class="col-md-9">               
                  <angular-editor [placeholder]="'Enter Question here...'" [config]="editorConfig" [(ngModel)]="exam_question.question" name="question" required #question="ngModel"></angular-editor>                     
                  <div *ngIf="question.invalid && (question.dirty || question.touched)" class="text-danger">
                    <div *ngIf="question.errors.required">required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="exam_question.question_type!=3 && total_question >0">
                <label class="col-md-3 col-form-label" for="choice1">Choice 1</label>
                <div class="col-md-9">
                  <angular-editor [placeholder]="'Enter choice 1 here...'" [config]="editorConfig" [(ngModel)]="exam_question.choice1" name="choice1" required #choice1="ngModel"></angular-editor>   
                  <div *ngIf="choice1.invalid && (choice1.dirty || choice1.touched)" class="text-danger">
                    <div *ngIf="choice1.errors.required">required</div>
                  </div>
                  <div class="form-check"><span class="help-block">
                    <input class="form-check-input" type="checkbox" id="checkboxchoice1" name="checkboxchoice1" [(ngModel)]="exam_question.is_choice1_correct" ng-true-value="1" ng-false-value="0">
                    <label class="form-check-label" for="checkboxchoice1">Is Above answer correct</label>
                    </span></div>
                </div>
              </div>
              <div class="form-group row" *ngIf="exam_question.question_type!=3 && total_question >1">
                <label class="col-md-3 col-form-label" for="choice1">Choice 2</label>
                <div class="col-md-9">
                  <angular-editor [placeholder]="'Enter choice 2 here...'" [config]="editorConfig" [(ngModel)]="exam_question.choice2" name="choice2" required #choice2="ngModel"></angular-editor>   
                  <div *ngIf="choice2.invalid && (choice2.dirty || choice2.touched)" class="text-danger">
                    <div *ngIf="choice2.errors.required">required</div>
                  </div>
                  <div class="form-check"><span class="help-block">
                    <input class="form-check-input" type="checkbox" id="checkboxchoice2" name="checkboxchoice2" [(ngModel)]="exam_question.is_choice2_correct" ng-true-value="1" ng-false-value="0">
                    <label class="form-check-label" for="checkboxchoice2">Is Above answer correct</label>
                    </span></div>
                </div>
              </div>
              <div class="form-group row" *ngIf="exam_question.question_type!=3 && total_question >2">
                <label class="col-md-3 col-form-label" for="choice3">Choice 3</label>
                <div class="col-md-9">
                  <angular-editor [placeholder]="'Enter choice 3 here...'" [config]="editorConfig" [(ngModel)]="exam_question.choice3" name="choice3" required #choice3="ngModel"></angular-editor>   
                  <div *ngIf="choice3.invalid && (choice3.dirty || choice3.touched)" class="text-danger">
                    <div *ngIf="choice3.errors.required">required</div>
                  </div>
                  <div class="form-check"><span class="help-block">
                    <input class="form-check-input" type="checkbox" id="checkboxchoice3" name="checkboxchoice3" [(ngModel)]="exam_question.is_choice3_correct" ng-true-value="1" ng-false-value="0">
                    <label class="form-check-label" for="checkboxchoice3">Is Above answer correct</label>
                </span></div>
                </div>
              </div>
              <div class="form-group row" *ngIf="exam_question.question_type!=3 && total_question >3">
                <label class="col-md-3 col-form-label" for="choice4">Choice 4</label>
                <div class="col-md-9">
                  <angular-editor [placeholder]="'Enter choice 4 here...'" [config]="editorConfig" [(ngModel)]="exam_question.choice4" name="choice4" required #choice4="ngModel"></angular-editor>   
                  <div *ngIf="choice4.invalid && (choice4.dirty || choice4.touched)" class="text-danger">
                    <div *ngIf="choice4.errors.required">required</div>
                  </div>
                  <div class="form-check"><span class="help-block">
                    <input class="form-check-input" type="checkbox" id="checkboxchoice4" name="checkboxchoice4" [(ngModel)]="exam_question.is_choice4_correct" ng-true-value="1" ng-false-value="0">
                    <label class="form-check-label" for="checkboxchoice4">Is Above answer correct</label>
                </span></div>
                </div>
              </div>
              <div class="form-group row" *ngIf="exam_question.question_type!=3 && total_question >4">
                <label class="col-md-3 col-form-label" for="choice5">Choice 5</label>
                <div class="col-md-9">
                  <angular-editor [placeholder]="'Enter choice 5 here...'" [config]="editorConfig" [(ngModel)]="exam_question.choice5" name="choice5" required #choice5="ngModel"></angular-editor>   
                  <div *ngIf="choice5.invalid && (choice5.dirty || choice5.touched)" class="text-danger">
                    <div *ngIf="choice5.errors.required">required</div>
                  </div>
                  <div class="form-check"><span class="help-block">
                    <input class="form-check-input" type="checkbox" id="checkboxchoice5" name="checkboxchoice5" [(ngModel)]="exam_question.is_choice5_correct" ng-true-value="1" ng-false-value="0">
                    <label class="form-check-label" for="checkboxchoice5">Is Above answer correct</label>
                </span></div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="positive_marks">Positive marks</label>
                <div class="col-md-9">
                  <input type="text" id="positive_marks" name="positive_marks" class="form-control" placeholder="Positive marks" [(ngModel)]="exam_question.positive_marks" required #positive_marks="ngModel">
                  <div *ngIf="positive_marks.invalid && (positive_marks.dirty || positive_marks.touched)" class="text-danger">
                    <div *ngIf="positive_marks.errors.required">required</div>
                  </div>
                  <span class="help-block">Number of marks for fully correct answer</span>
                </div>
              </div>
              <div class="form-group row" *ngIf="exam_question.question_type!=3">
                <label class="col-md-3 col-form-label" for="negative_marks">Negative marks</label>
                <div class="col-md-9">
                  <input type="text" id="negative_marks" name="negative_marks" class="form-control" placeholder="Negative marks" [(ngModel)]="exam_question.negative_marks" required #negative_marks="ngModel">
                  <div *ngIf="negative_marks.invalid && (negative_marks.dirty || negative_marks.touched)" class="text-danger">
                    <div *ngIf="negative_marks.errors.required">required</div>
                  </div>
                  <span class="help-block">Number of marks for incorrect answer, Place Zero if no negative marks</span>
                </div>
              </div>
          </div>
          <div class="card-footer">
            <button [disabled]="questionForm.invalid" *ngIf="isCreate" type="button" (click)="onSubmitCreate()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Create</button>
            <button [disabled]="questionForm.invalid" *ngIf="!isCreate" type="button" (click)="onSubmitEdit()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Update</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </form>
        </div>
 
    </div><!--/.row-->
    
  </div>
  