<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Traffic &amp; Sales
        </div>
        <div class="card-body">
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Exam Name</th>
                <th class="text-center">Exam Title</th>
                <th>Candidate</th>
                <th class="text-center">Question</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let examConfig of examConfigs">
                <td class="text-center">
                  <div>{{examConfig.id}}</div>
                </td>
                <td>
                  <div>{{examConfig.exam_name}}</div>
                </td>
                <td class="text-center">
                  <strong>{{examConfig.exam_title}}</strong>  
                </td>
                <td>
                  <button type="button" (click)="goToCandidates(examConfig.id)" class="btn btn-block btn-warning">Candidate</button>
                </td>
                <td>
                  <button type="button" (click)="goToQuestions(examConfig.id)" class="btn btn-block btn-warning">Questions</button>
                </td>
                <td class="text-center">
                  <button type="button" (click)="goToEditExamConfig(examConfig.id)" class="btn btn-block btn-info">Edit</button>
                </td>
                <td>           
                  <button type="button" class="btn btn-block btn-danger">Delete</button>                 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
