<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{'dashboard_header' | translate}}
        </div>
        <div class="card-header">
          <button type="button" (click)="goToAddExamConfig()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>{{'add_test' | translate}}</button>
        </div>
        <div class="card-body">
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th class="text-left">{{'test_name' | translate}}</th>
                <th class="text-left">{{'test_title' | translate}}</th>
                <th class="text-center">{{'candidate' | translate}}</th>
                <th class="text-center">{{'question' | translate}}</th>
                <th class="text-center">{{'edit' | translate}}</th>
                <th class="text-center">{{'delete' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let examConfig of examConfigs; let idx = index">
                <td class="text-center">
                  <div>{{idx +1}}</div>
                </td>
                <td class="text-left">
                  <div>{{examConfig.exam_name}}</div>
                </td>
                <td class="text-left">
                  {{examConfig.exam_title}}
                </td>
                <td>
                  <button type="button" (click)="goToCandidates(examConfig.id)" class="btn btn-block btn-warning">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'candidates' | translate}}
                  </button>
                </td>
                <td>
                  <button type="button" (click)="goToQuestions(examConfig.id)" class="btn btn-block btn-warning">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'questions' | translate}}
                  </button>
                </td>
                <td class="text-center">
                  <button type="button" (click)="goToEditExamConfig(examConfig.id)" class="btn btn-block btn-info">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'edit' | translate}}
                  </button>
                </td>
                <td>           
                  <button type="button" (click)="confirmDialog(examConfig.id)" class="btn btn-block btn-danger">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'delete' | translate}}
                  </button>                 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
