<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            {{'question_list_of' | translate}} {{exam_config.exam_title}}
          </div>
          <div class="card-header">
            <button type="button" (click)="addExamQuestion(exam_config.id, 0)" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>{{'add_question' | translate}}</button>
          </div>
          <div class="card-body">
            <table class="table table-responsive-sm table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr>
                  <th class="text-left"><i class="icon-people"></i></th>
                  <th class="text-left">{{'question_id' | translate}}</th>
                  <th class="text-left">{{'question' | translate}}</th>
                  <th class="text-left">{{'question_type' | translate}}</th>
                  <th class="text-left">{{'edit' | translate}}</th>
                  <th class="text-left">{{'delete' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let exam_question of exam_questions; let idx = index">
                  <td>
                    <div>{{idx+1}}</div>
                  </td>
                  <td>
                    <div>{{exam_question.id}}</div>
                  </td>
                  <td>
                    <div [innerHTML]="exam_question.question"></div>
                  </td>
                  <td class="text-left">
                    <strong *ngIf="exam_question.question_type == 1">{{'question_type_1' | translate}}</strong>
                    <strong *ngIf="exam_question.question_type == 2">{{'question_type_2' | translate}}</strong>  
                    <strong *ngIf="exam_question.question_type == 3">{{'question_type_3' | translate}}</strong>  
                  </td>
                  <td>           
                    <button type="button" (click)="editExamQuestion(exam_question.exam_config_id, exam_question.id)" class="btn btn-block btn-info">
                      {{'edit' | translate}}
                    </button>                 
                  </td>
                  <td>           
                    <button type="button" (click)="confirmDialog(exam_question.id)" class="btn btn-block btn-danger">
                      {{'delete' | translate}}
                    </button>                 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
  